ACCESS_TOKEN=your_meta_access_token
PHONE_NUMBER_ID=your_phone_number_id
RECIPIENT_WAID=919661988586
VERSION=v18.0
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_password
MAIL_FROM=sachinpatel34242@gmail.com
MAIL_TO=sachinpatel34241@gmail.com